/**
 * Allows to change the settings of every menu simply by editing this file
 */
@import "~/.config/rofi/gruvbox-dark-hard.rasi"
/* @import "resolutions/2560x1440.rasi" */

element-icon {
  size: 2.0ch;
}

window {
  border-radius: 10px;
  width: 900px;
}
